<!DOCTYPE html>
<html>
<head>
    <title>Welcome | School Quiz</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body class="home-page">
    <!-- 🎨 Vertical Decorative Lines -->
    <div class="vertical-line line-grey" style="left: 0;"></div>
    <div class="vertical-line line-black" style="left: 10px;"></div>
    <div class="vertical-line line-blue"  style="left: 20px;"></div>
    
    
    <!-- Horizontal Decorative Lines -->
    <div class="horizontal-line line-grey" style="top: 10%;"></div>
    <div class="horizontal-line line-black" style="top: 12%;"></div>
    <div class="horizontal-line line-blue"  style="top: 14%;"></div>

    <!-- 🔷 Animated Squares -->
    <div class="animated-square" style="left: 10%; background-color: #003366; animation-delay: 5s;"></div>
    <div class="animated-square" style="left: 25%; background-color: #2b2b2b; animation-delay: 2s;"></div>
    <div class="animated-square" style="left: 40%; background-color: #ffffff; animation-delay: 4s;"></div>
    <div class="animated-square" style="left: 60%; background-color: #cccccc; animation-delay: 1s;"></div>
    <div class="animated-square" style="left: 75%; background-color: #001f3f; animation-delay: 3s;"></div>
    <div class="animated-square" style="left: 10%; background-color: #003366; animation-delay: 5s;"></div>
    <div class="animated-square" style="left: 25%; background-color: #2b2b2b; animation-delay: 2s;"></div>
    <div class="animated-square" style="left: 40%; background-color: #ffffff; animation-delay: 4s;"></div>
    <div class="animated-square" style="left: 60%; background-color: #cccccc; animation-delay: 1s;"></div>
    <div class="animated-square" style="left: 75%; background-color: #001f3f; animation-delay: 3s;"></div>
    <div class="animated-square" style="left: 10%; background-color: #003366; animation-delay: 5s;"></div>
    <div class="animated-square" style="left: 25%; background-color: #2b2b2b; animation-delay: 2s;"></div>
    <div class="animated-square" style="left: 40%; background-color: #ffffff; animation-delay: 4s;"></div>
    <div class="animated-square" style="left: 60%; background-color: #cccccc; animation-delay: 1s;"></div>
    <div class="animated-square" style="left: 75%; background-color: #001f3f; animation-delay: 3s;"></div>
    <div class="animated-square" style="left: 10%; background-color: #003366; animation-delay: 5s;"></div>
    <div class="animated-square" style="left: 25%; background-color: #2b2b2b; animation-delay: 2s;"></div>
    <div class="animated-square" style="left: 40%; background-color: #ffffff; animation-delay: 4s;"></div>
    <div class="animated-square" style="left: 60%; background-color: #cccccc; animation-delay: 1s;"></div>
    <div class="animated-square" style="left: 75%; background-color: #001f3f; animation-delay: 3s;"></div>
    <div class="animated-square" style="left: 10%; background-color: #003366; animation-delay: 5s;"></div>
    <div class="animated-square" style="left: 25%; background-color: #2b2b2b; animation-delay: 2s;"></div>
    <div class="animated-square" style="left: 40%; background-color: #ffffff; animation-delay: 4s;"></div>
    <div class="animated-square" style="left: 60%; background-color: #cccccc; animation-delay: 1s;"></div>
    <div class="animated-square" style="left: 75%; background-color: #001f3f; animation-delay: 3s;"></div>
    <div class="animated-square" style="left: 10%; background-color: #003366; animation-delay: 5s;"></div>
    <div class="animated-square" style="left: 25%; background-color: #2b2b2b; animation-delay: 2s;"></div>
    <div class="animated-square" style="left: 40%; background-color: #ffffff; animation-delay: 4s;"></div>
    <div class="animated-square" style="left: 60%; background-color: #cccccc; animation-delay: 1s;"></div>
    <div class="animated-square" style="left: 75%; background-color: #001f3f; animation-delay: 3s;"></div>

     <!-- 🏫 Main Welcome Box -->
     <div class="home-container">
        <h1>Welcome to the School Quiz Portal</h1>
        <!-- Horizontal Line -->
    <hr class="styled-line">
        <a href="/candidate_login"><button class="btn-choice">🎓 I am a Candidate</button></a>
        <a href="/admin_login"><button class="btn-choice">🛠️ I am an Admin</button></a>
    </div>
</body>
</html>