<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quiz Time</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='quiz.css') }}">
</head>
<body class="quiz-page">
     <!-- 🔷 Animated Squares -->
     <div class="animated-square" style="left: 10%; background-color: #003366; animation-delay: 5s;"></div>
     <div class="animated-square" style="left: 25%; background-color: #2b2b2b; animation-delay: 2s;"></div>
     <div class="animated-square" style="left: 40%; background-color: #ffffff; animation-delay: 4s;"></div>
     <div class="animated-square" style="left: 60%; background-color: #cccccc; animation-delay: 1s;"></div>
     <div class="animated-square" style="left: 75%; background-color: #001f3f; animation-delay: 3s;"></div>
     <div class="animated-square" style="left: 10%; background-color: #003366; animation-delay: 5s;"></div>
     <div class="animated-square" style="left: 25%; background-color: #2b2b2b; animation-delay: 2s;"></div>
     <div class="animated-square" style="left: 40%; background-color: #ffffff; animation-delay: 4s;"></div>
     <div class="animated-square" style="left: 60%; background-color: #cccccc; animation-delay: 1s;"></div>
     <div class="animated-square" style="left: 75%; background-color: #001f3f; animation-delay: 3s;"></div>
     <div class="animated-square" style="left: 10%; background-color: #003366; animation-delay: 5s;"></div>
     <div class="animated-square" style="left: 25%; background-color: #2b2b2b; animation-delay: 2s;"></div>
     <div class="animated-square" style="left: 40%; background-color: #ffffff; animation-delay: 4s;"></div>
     <div class="animated-square" style="left: 60%; background-color: #cccccc; animation-delay: 1s;"></div>
     <div class="animated-square" style="left: 75%; background-color: #001f3f; animation-delay: 3s;"></div>
     <div class="animated-square" style="left: 10%; background-color: #003366; animation-delay: 5s;"></div>
     <div class="animated-square" style="left: 25%; background-color: #2b2b2b; animation-delay: 2s;"></div>
     <div class="animated-square" style="left: 40%; background-color: #ffffff; animation-delay: 4s;"></div>
     <div class="animated-square" style="left: 60%; background-color: #cccccc; animation-delay: 1s;"></div>
     <div class="animated-square" style="left: 75%; background-color: #001f3f; animation-delay: 3s;"></div>
     <div class="animated-square" style="left: 10%; background-color: #003366; animation-delay: 5s;"></div>
     <div class="animated-square" style="left: 25%; background-color: #2b2b2b; animation-delay: 2s;"></div>
     <div class="animated-square" style="left: 40%; background-color: #ffffff; animation-delay: 4s;"></div>
     <div class="animated-square" style="left: 60%; background-color: #cccccc; animation-delay: 1s;"></div>
     <div class="animated-square" style="left: 75%; background-color: #001f3f; animation-delay: 3s;"></div>
     <div class="animated-square" style="left: 10%; background-color: #003366; animation-delay: 5s;"></div>
     <div class="animated-square" style="left: 25%; background-color: #2b2b2b; animation-delay: 2s;"></div>
     <div class="animated-square" style="left: 40%; background-color: #ffffff; animation-delay: 4s;"></div>
     <div class="animated-square" style="left: 60%; background-color: #cccccc; animation-delay: 1s;"></div>
     <div class="animated-square" style="left: 75%; background-color: #001f3f; animation-delay: 3s;"></div>
 
    <div class="quiz-container">
        <h2>📝 Welcome, {{ name }}</h2>
        <div id="timer">⏳ Loading Timer...</div>

        <form id="quizForm" method="POST" action="/quiz">
            {% set current_subject = "" %}
            {% for i in range(questions|length) %}
                {% set subject = questions[i]['subject'] %}
                
                {% if subject != current_subject %}
                    <h3 class="subject-heading">{{ subject }}</h3>
                    {% set current_subject = subject %}
                {% endif %}

                <div class="question-block">
                    <p><strong>Q{{ i+1 }}:</strong> {{ questions[i]['question'] }}</p>

                    <label><input type="radio" name="q_{{ i }}" value="{{ questions[i]['option1'] }}"> {{ questions[i]['option1'] }}</label><br>
                    <label><input type="radio" name="q_{{ i }}" value="{{ questions[i]['option2'] }}"> {{ questions[i]['option2'] }}</label><br>
                    <label><input type="radio" name="q_{{ i }}" value="{{ questions[i]['option3'] }}"> {{ questions[i]['option3'] }}</label><br>
                    <label><input type="radio" name="q_{{ i }}" value="{{ questions[i]['option4'] }}"> {{ questions[i]['option4'] }}</label>
                </div>
            {% endfor %}

            <button type="submit" class="submit-btn">🚀 Submit Quiz</button>
        </form>
    </div>
    <script>
    let totalTime = 60; // seconds
    let submitted = false;

    function startTimer() {
        let timerDisplay = document.getElementById('timer');
        let interval = setInterval(() => {
            let minutes = Math.floor(totalTime / 60);
            let seconds = totalTime % 60;
            timerDisplay.textContent = `${minutes}:${seconds < 10 ? '0' + seconds : seconds}`;
            totalTime--;

            if (totalTime < 0 && !submitted) {
                clearInterval(interval);
                alert("⏰ Time is up!");
                submitted = true;
                document.getElementById("quizForm").submit();
            }
        }, 1000);
    }

    window.onload = function () {
        startTimer();
        if (performance.navigation.type === 1 && !submitted) {
            // Only redirect on refresh if not submitted yet
            window.location.href = "/already_attempted";
        }
    };
    </script>
</body>
</html>
